
body{

    background: linear-gradient(181deg,rgba(228, 228, 228, 1) 0%, rgba(27, 25, 145, 1) 100%);
    background-attachment: fixed; /*edit*/
}
.to-do-list{
    text-align: center;
}

h1{
    color:  #1b1991;
    font-size: 3em;
    
}
button{
    font-size: 2em;
}

.ordered-list{
    text-align: center;
    scale:85%
    
}

ol{
    justify-self: center;
}
li{  
    margin: 10px;
    padding-left: 1 rem;
    width: 70vw;
    color: black;
    transition-duration: 0.8s;
    
}


li:hover{
    scale: 1.1;   
} 

.tasks{
    font-size: 2em;
}