body{
    background-color: rgb(228, 228, 228);
}
.to-do-list{
    text-align: center;
}

h1{
    color:  rgb(27, 25, 145);
    font-size: 3em;
    
}
button{
    font-size: 2em;
}

.ordered-list{
    text-align: center;
    scale:85%
    
}

ol{
    justify-self: center;
}
li{  
    background-color:rgb(206, 204, 204);   
    margin: 10px;
    padding-left: 1 rem;
    width: 70vw;
    color:  rgb(35, 32, 179);
    transition-duration: 0.8s;
    
}

li:hover{
    scale: 1.1;   
} 

.tasks{
    font-size: 2em;
}